# Flutter & Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.pub-cache/
build/
.idea/
.vscode/
*.iml

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/.dart_tool/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/xcuserdata/
ios/*.xcuserstate

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/
macos/xcuserdata/
macos/*.xcuserstate

# Android
android/.gradle/
android/.idea/
android/local.properties
android/.dart_tool/
android/.flutter-plugins
android/.flutter-plugins-dependencies
android/build/

# Web
web/manifest.json
web/favicon.png
web/icons/

# Linux & Windows
linux/flutter/ephemeral/
windows/flutter/ephemeral/
linux/build/
windows/build/

# General
.DS_Store
*.lock
*.log
*.tmp

# Coverage
coverage/

# Firebase
firebase_app_id_file.json

# Secrets
.env
*.keystore
*.jks